@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  --color-secondary: #1e40af;
}

.dark {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-poppins);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair-display);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
